@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}
.switch-button-true {
    display: inline-block;
}
.switch-button-true .switch-button__checkbox {
    display: none;
}
.switch-button-true .switch-button__label {
    background-color: var(--color-green);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button-true .switch-button__label:before {
    
    transition: .2s;
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
    
}


.switch-button-false{
    display: inline-block;
}
.switch-button-false .switch-button__checkbox {
    display: none;
}
.switch-button-false .switch-button__label {
    background-color: var(--color-button);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button-false .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}




